/* font */
@font-face {
  font-family: "Avenir";
  src:
  url(../font/AvenirNextLTPro-It.otf),
  url(../font/AvenirNextLTPro-Regular.otf);
}
/* mesure du corp du site */
body{
  margin:0 auto 0 auto ;
  padding:0;
  width: 1440px;
  height: 535px;
  background-color: black;
  font-family: "Avenir";
}
header{
  width:1440px;
  height:636px;
}

/* nav barre */
.logo{
  width: 113px;
  height: 90px;
  margin-left: 69px;
}
.img_banniere{
  width: 1440px;
  height: 740px;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  height:105px;
  background-color:#1A1A1A;
  color:white;
  font-size:24px;
  position:fixed;
  width: 1440px;
  z-index:9999;
}
.lien_logo{
  height:105px;
  margin:0;
  padding:0;
}
.fleche_cote{
  position:relative;
  left:60px;
}
.fleche_cote_1{
  position:relative;
  left:95px;
}
.fleche_cote_2{
  position:relative;
  left:85px;
}

.tout_menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.li_coach {
  transform: translateY(1em);
}

nav li ul {
  position: absolute;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  display: block;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color:white;
  background-color:#1A1A1A;
}

.menu_deroulant{
  top: 50px;
  height:90px;
  width:210px;
  font-size:16px;
  padding:0;
  left: -60px;
}

.texte_menu{
  border-bottom: #893BFF solid 1px;
}

.texte_menu_haut
{
  border-bottom: #893BFF solid 1px;
  border-top: #893BFF solid 1px;
}
/* footer */
.footer{
  background-color:#1A1A1A;
  color:white;
  height: 170px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container_footer{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-around;
  width:770px;
  height:100px;
}
.container_footer a {
  margin:0 70px 0 50px;
  text-decoration: none;
}
.container_footer img {
  margin:0 100px 0 60px;
}
.logo_footer{
  width:177px;
  height:151px;
  margin: 0 0 0 -120px;
}
.logo_reseau{
  position:relative;
  left: 10px;
}
.lien_footer{
  border-bottom: #893BFF solid 2px;
  padding-bottom: 20px;
}
#logo_linkedin{
  position:relative;
  left: 20px;
}
footer {
  background-color: #232023;
  color:white;
  font-size:12px;
}

footer a {
  color:white;
}
.footer_mention{
  height: 70px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.footer_mention a {
  color:#893BFF; 
}
/* général*/

h2 {
  color: white;
  height: 51px;
  width: 580px;
  left: 243px;
  top: 196px;
  margin: 0px;
  position: relative;
}

/* 1ere section */
.d1 {
  background-color: #232023;
  display: flex;
  justify-content: center;
  align-items: center;
  height:1041px ;
  padding: 0;
  margin: 0;
}
.zone_commu{
  display: flex;
  position:relative;
  flex-direction: column;
  font-size: 24px;
  height:832pxpx;
  width: 960px;
}

h1 {
  font-size: 48px ;
  font-weight: 700;
  font-style: bold;
  color: white;
}

.corps_size {
  height: 468px
}

/* 2eme section */
.equipe_block{
  background-color:#1D1C1D;
  color:white;
  position: relative;
  display: flex;
  height: 1010px;
  width: 1440px;
  left: 0px;
  border-radius: 0px;
}

#texte_notre_équipe {
  height: 32px;
  width:745px;
  right: 339px;
  top: 269px; 
  margin: 0%;
  position: relative;
  display : table-column;
  color: #F8F5F9;

}
.equipe{
  background-color:#1A1A1A;
  color:white;
  height: 1010px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nom_de_léquipe{
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 24px;
  position:relative;
}
.four_profils {
  display: flex;
  position: absolute;
  left: 218px;
  top: 396px;
  width: 1004px;
  height: 417px;
}

/* block profils */
.texte_profil {
  display: flex;
  flex-direction: column;
}
.portrait {
float: left;
position: absolute;
width: 168px;
height: 180px;
top: 0px;
}
.nom_de_léquipe {
  height: 22px;
  width: 265px;
  position: relative;
  flex-direction: column;
  left: 198px;
}
.fonctions_de_léquipe {
  display: flex;
  top: 31px;
  position: relative;  
  font-size: 14px;
  left: 198px;
}
.logo_linkedin_profils {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30px;
  height: 30px;
  left: 189px;
  top: 84px;
}
#block_profil_Batsheba, 
#block_profil_Camille,
#block_profil_Julien,
#block_profil_Nicolas {
  width: 502px;
  height: 180px;
  display: inline-block;
}
#block_profil_Camille {
  position: absolute;
  left: 499px;
  top: 0px
}
#block_profil_Julien {
position: absolute;
left: 0px;
top: 234px
}
#block_profil_Nicolas {
  position: absolute;
  left: 499px;
  top: 234px
  }


/* 3eme section */
#nos_engagements {
  background-color:#232023;
  color:white;
  position: relative;
  display: flex;
  height: 762px;
  width: 1440px;
  left: 0px;
  border-radius: 0px;
}

#titre_engagements {
  margin: 0;
  top: -10px;
  position: inherit;
}

ul, li, p {
  color: #F8F5F9;
}

/*erreur de synthaxe, devrait être un h2 mais impossible sans changer le sreste du code ^^' */
h3 {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

ul, li { 
font-size: 24px;
}

#liste_place {
left: -20px;
position: relative;
}


#texte_last_div {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 223px;
  left: 243px;
  top: 292px;
}
