@font-face {
  font-family: "Avenir";
  src:
  url(../font/AvenirNextLTPro-It.otf),
  url(../font/AvenirNextLTPro-Regular.otf);
}

body{
  margin:0 auto 0 auto ;
  padding:0;
  width: 1440px;
  height: 535px;
  background-color: black;
  font-family: "Avenir";
}
header{
height: 105px;
}
main{
  color:white;
  background-color:#232023;
}
.lien_logo{
  height:105px;
  margin:0;
  padding:0;
}
.logo{
  width: 113px;
  height: 90px;
  margin-left: 69px;
}
nav {
  display: flex;
  align-items: center;
  height:155px;
  background-color:#1A1A1A;
  color:white;
  font-size:24px;
  position:fixed;
  width: 1440px;
  z-index: 9999;
}
.fleche_cote{
  position:relative;
  left:100px;
}
.fleche_cote_1{
  position:relative;
  left:125px;
}
.fleche_cote_2{
  position:relative;
  left:115px;
}

.tout_menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.li_coach {
  transform: translateY(1em);
}

nav li ul {
  position: absolute;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  display: block;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color:white;
  background-color:#1A1A1A;
}

.menu_deroulant{
  top: 50px;
  height:90px;
  width:210px;
  font-size:16px;
  padding:0;
  left: -60px;
}

.texte_menu{
  border-bottom: #893BFF solid 1px;
}

.texte_menu_haut
{
  border-bottom: #893BFF solid 1px;
  border-top: #893BFF solid 1px;
}

.footer{
  background-color:#1A1A1A;
  color:white;
  height: 170px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container_footer{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-around;
  width:770px;
  height:100px;
}
.container_footer a {
  margin:0 70px 0 50px;
  text-decoration: none;
}
.container_footer img {
  margin:0 100px 0 60px;
}
.logo_footer{
  width:177px;
  height:151px;
  margin: 0 0 0 -120px;
}
.logo_reseau{
  position:relative;
  left: 10px;
}
.lien_footer{
  border-bottom: #893BFF solid 2px;
  padding-bottom: 20px;
}
#logo_linkedin{
  position:relative;
  left: 20px;
}
footer {
  background-color: #232023;
  color:white;
  font-size:12px;
}

footer a {
  color:white;
}
.footer_mention{
  height: 70px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.footer_mention a {
  color:#893BFF; 
}
.abonement article{
  width:311px;
  height:500px;
  background-color:black;
  margin:60px;
}
.rond{
  width:25px;
  height:25px;
  margin-right:10px;
  margin-left:10px;
}
h3{
  Width:177px;
Height:47px;
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  left:70px;
}
.essaie{
  background-color:#D0B3FD;
  color:black;
}
.membre{
  background-color:#A974FA;
  color:black;
}
.pro{
  background-color:#893BFF;
  color:black;
}
.fond_gris{
background-color:#111615;
height:70px
}
article p {
font-size:20px;
display:flex;
align-items:center;
}
h4{
text-align:center;
font-size:30px;
}
.p_article{
display:flex;
justify-content:center;
position:relative;
top:-30px
}
.prix_membre{
color:#D0B3FD;
}
.prix_pro{
color: #893BFF;
}
.abonement{
height:651px;
width:1440px;
 display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
}
.container_article{
display:flex;
align-items:center;
justify-content:center;
}
.abonement{
height:651px;
width:1440px;
 display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
margin-top:130px;
}
.container_article{
display:flex;
align-items:center;
justify-content:center;
}
.abonement h2{
position:relative;
left:-380px;
}
h2{
font-size: 48px;
}
.block_membre{
border: #00FF66 solid 1px;
}
.text_section1{
margin-left:140px;
padding-top:0;
margin-top:0;
position:relative;
top:150px;
height:350px;
width:1234px;
}
.text_a_souligner{
border-bottom:#893BFF solid 2px;
padding-bottom:50px;
text-align:left;
}
.mot_en_mauve{
color:#893BFF;
}
.commande{
height:1000px;
display:flex;
align-items:center;
justify-content:center;

}
.commande h2{
position:relative;
top:-300px;
margin-left:300px;
}
form{
width:536px;
height:628px;
position:relative;
top:100px;
left:-260px;
display:flex;
flex-direction:column;
margin:10px;
background-color:#313131;
border-radius:10px;
}
form p{
font-size:20px;
margin-left:30px;
margin-top:30px;
}
.adresse_sauvegarder{
width:490px;
height:77px;
margin-left:20px;
margin-right:20px;
display:flex;
align-items:center;
justify-content:space-between;
}
.adresse_sauvegarder input{
width:252px;
height:59px;
border-radius:10px;
}
.numero{
width:490px;
height:80px;
display:flex;
flex-direction:column;
justify-content:center;
margin-left:20px;
margin-top:25px;
}
.numero input{
height:59px;
margin-top:10px;
border-radius:10px;
}
.rue{
width:490px;
height:105px;
display:flex;
flex-direction:column;
justify-content:center;
margin-left:20px;
margin-top:20px;
}
.rue input{
height:59px;
margin-top:10px;
border-radius:10px;
}
.block_code_pays{
width:490px;
height:105px;
display:flex;
justify-content:space-between;
margin-top:30px;
}
.code_postal{
display:flex;
flex-direction:column;
margin-left:20px;
}
.pays{
display:flex;
flex-direction:column;
margin-left:30px;
}
.pays input{
width:253px;
height:59px;
border-radius:10px;
margin-top:10px;
}
.code_postal input{
width:193px;
height:59px;
border-radius:10px;
margin-top:10px;
}
.carte_sauvegarde{
width:490px;
height:77px;
margin-left:20px;
margin-right:20px;
display:flex;
align-items:center;
justify-content:space-between;
}
.carte_sauvegarde input{
width:252px;
height:59px;
border-radius:10px;
position:relative;
left:50px;
}
.fleche_form{
position:relative;
left:-20px;
}
.nom{
width:490px;
height:105px;
display:flex;
flex-direction:column;
justify-content:center;
margin-left:20px;
margin-top:20px;
}
.nom input{
height:79px;
margin-top:15px;
border-radius:10px;
}
.numero_carte{
width:490px;
height:105px;
display:flex;
flex-direction:column;
justify-content:center;
margin-left:20px;
}
.numero_carte input{
height:59px;
margin-top:10px;
border-radius:10px;
}
.rond_form{
width:20px;
height:20px;
position:relative;
top:-35px;
left:450px;
}
.block_expiration_cvc{
display:flex;
margin-top:20px;
}
.expiration{
display:flex;
}
.expiration_mois{
display:flex;
flex-direction:column;
margin-left:20px;
}
.expiration_annee{
position:relative;
top:18px;
}
.expiration_mois input{
width:90px;
height:59px;
border-radius:10px;
margin-top:20px;
}
.expiration_annee input{
width:90px;
height:59px;
border-radius:10px;
position:relative;
left:-30px;
margin-top:20px;
}
.cvc input{
width:250px;
height:59px;
border-radius:10px;
margin-top:20px;
}
.p_expiration{
position:relative;
font-size:56px;
top:10px;
left:-30px;
}
.complete{
width:180px;
height:60px;
background-color:#893BFF;
border-radius:10px;
border:#8938FF solid 1px;
position:relative;
left:330px;
}
.form2{
margin-left:130px;
}